div.upper-logo{
text-align: center;
float:none;
width:auto;
}

div.bio{
text-align: left;
float:none;
width:100%;
}

div.halloween-photo{
text-align: center;
float;none;
width:100%
}

div.construction{
text-align: center;
}

.home-photo{
text-align:center;
float:none;
width:auto;
}

.navigation-bar{
float:left;
width:100%;
}

.inner {
margin: 0 auto;
width: 100%;
float:none;
}

.mast{
 float:left;
 width:100%; /*it will automatically adjust when u minimize the window b/c of the percentage*/
}

.main {
float:right;
width: 67%; /*1-x*/
}
